<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="aprendiendoDiseñoWeb">
    <meta name="author" content="Dante Delprato">
    <meta name="description" content="Proyecto Mercado Liebre DH">

  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="css/styles.css">

  <link rel="stylesheet" href="css/normalize.css">
  
  <!--FavIcon-->
  <link rel="shortcut icon" href="" type="/images/favico.png">

  <!-- Titulo de la Pag -->
  <title>Mercado Liebre</title>
</head>

<body>
  <!--Encabezados-->
  <header>

    <!-- ------------------- -->
    <!--      CABECERA       -->
    <!-- ------------------- -->

    <div class="main-header">
      <!-- LOGO -->
      <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo Completo de la Pag de Mercado Liebre">

      <!-- SEARCH BAR -->
      <form class="searchbar" action="GET">
        <input type="text" name="buscar" id="search" placeholder="Buscar producto, marca, precio">
        <button type="submit" title="buscar">
          <!-- icono de la lupita 🔍 -->
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

      <h2 name="promo">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        Compra en cuotas y sin tarjeta de Crédito
      </h2>
    </div>


    <!-- ------------------- -->
    <!-- Barra de Navegacion -->
    <!-- ------------------- -->
    <nav class="navegation">

      <!-- NAV BAR -->
      <ul class="navbar">
        <li> <a href="/ofertas" target="_blank" rel="noopener noreferrer">Oferta</a> </li>
        <li> <a href="http://www.facebook.com" target="_blank" rel="noopener noreferrer">Tiendas Oficiales</a> </li>
        <li> <a href="http://" target="_blank" rel="noopener noreferrer">Vender</a> </li>
        <li> <a href="http://" target="_blank" rel="noopener noreferrer">Ayuda</a> </li>
      </ul>

      <!-- LOGIN BAR -->
      <ul class="loginbar">
        <li>
          <a href="http://" target="_blank" rel="noopener noreferrer">Creá tu cuenta</a>
          <i class="fa-regular fa-id-card"></i>
        </li>
        <li>
          <a href="http://" target="_blank" rel="noopener noreferrer">Ingresá</a>
          <i class="fa-solid fa-arrow-right-to-bracket"></i>
        </li>
        <li>
          <a href="http://" target="_blank" rel="noopener noreferrer">Mis compras</a>
          <i class="fa-solid fa-basket-shopping"></i>
        </li>
      </ul>

      <!-- Boton Hamburguesa -->

      <button class="burger-menu" type="button" title="hamburguesa">
        <i class="fa-solid fa-bars"></i>
      </button>

    </nav>

    
  </header>
  <section class="banner">
    <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
  </section>




  <main>


    <section class="last-visit">

      <h3>Basado en tu última visita</h3>


      <div class="products">
        <article>
          <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
          <div class="main-article">
            <i class="fas fa-truck"></i>
            <p class="price">$6.770</p>
            <p class="discount">40% off</p>
            <h4 class="description">Cafetera Moulinex</h4>
          </div>
        </article>

        <article>
          <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
          <div class="main-article">
            <i class="fas fa-truck"></i>
            <p class="price">$230.000</p>
            <p class="discount">20% off</p>
            <h4 class="description">MacBook Pro 2019</h4>
          </div>
        </article>

        <article>
          <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
          <div class="main-article">
            <i class="fas fa-truck"></i>
            <p class="price">$70.500</p>
            <p class="discount">10% off</p>
            <h4 class="description">Samsung Galaxy S10</h4>
          </div>
        </article>

        <article>
          <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
          <div class="main-article">
            <i class="fas fa-truck"></i>
            <p class="price">$23.200</p>
            <p class="discount">5% off</p>
            <h4 class="description">SmartTv Samsung 43"</h4>
          </div>
        </article>
      </div>
    </section>


    <section class="offers">

      <h3>Ofertas</h3>

      <div class="products">
        <article>
          <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
          <div class="main-article">
            <i class="fas fa-truck"></i>
            <p class="price">$6.770</p>
            <p class="discount">40% off</p>
            <h4 class="description">Cafetera Moulinex</h4>
          </div>
        </article>
        <article>
          <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
          <div class="main-article">
            <i class="fas fa-truck"></i>
            <p class="price">$230.000</p>
            <p class="discount">20% off</p>
            <h4 class="description">MacBook Pro 2019</h4>
          </div>
        </article>
        <article>
          <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
          <div class="main-article">
            <i class="fas fa-truck"></i>
            <p class="price">$70.500</p>
            <p class="discount">10% off</p>
            <h4 class="description">Samsung Galaxy S10</h4>
          </div>
        </article>
        <article>
          <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
          <div class="main-article">
            <i class="fas fa-truck"></i>
            <p class="price">$23.200</p>
            <p class="discount">5% off</p>
            <h4 class="description">SmartTv Samsung 43"</h4>
          </div>
        </article>
      </div>
    </section>
  </main>

  <!-- Pie de Pagina -->
  <footer>

    <ul>
      <li>
        <i class="fa-solid fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
          puntos de pago. ¡Y siempre es seguro!
        </p>
      </li>
      <li>
        <i class="fa-solid fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
          productos. Es un beneficio de Mercado Puntos.
        </p>
      </li>
      <li>
        <i class="fa-solid fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
          porque estás siempre protegid@.
        </p>
      </li>
    </ul>

    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

  </footer>

  <!-- Scripts -->
  <script src="https://kit.fontawesome.com/30f2e17de6.js" crossorigin="anonymous"></script>

</body>

</html>