<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="aprendiendoDiseñoWeb">
    <meta name="author" content="Dante Delprato">
    <meta name="description" content="Proyecto Mercado Liebre DH">

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
  
  
  <!--FavIcon-->
  <link rel="shortcut icon" href="" type="/images/favico.png">

  <!-- Titulo de la Pag -->
  <title>Mercado Liebre - Login</title>
</head>

<body>
  <!--Encabezados-->
  <header>

    <!-- ------------------- -->
    <!--      CABECERA       -->
    <!-- ------------------- -->

    <div class="main-header">
      <!-- LOGO -->
      <a class="logo" href="/">
        <img src="/images/logo-mercado-liebre.svg" alt="Logo Completo de la Pag de Mercado Liebre" title="Ir a página principal">
      </a>

      <!-- SEARCH BAR -->
      <form class="searchbar" action="GET">
        <input type="text" name="buscar" id="search" placeholder="Buscar producto, marca, precio">
        <button type="submit" title="buscar">
          <!-- icono de la lupita 🔍 -->
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>

        <h2 class="promo">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          Compra en cuotas y sin tarjeta de Crédito
        </h2>

    </div>
      

    <!-- ------------------- -->
    <!-- Barra de Navegacion -->
    <!-- ------------------- -->
    <nav class="navegation">

      <!-- NAV BAR -->
      <ul class="navbar">
        <li> <a href="#">Oferta</a> </li>
        <li> <a href="#">Tiendas Oficiales</a> </li>
        <li> <a href="#">Vender</a> </li>
        <li> <a href="#">Ayuda</a> </li>
      </ul>

      <!-- LOGIN BAR -->
      <ul class="loginbar">
        <li>
          <a href="/register" >Creá tu cuenta</a>
          <i class="fa-regular fa-id-card"></i>
        </li>
        <li>
          <a href="/login" >Ingresá</a>
          <i class="fa-solid fa-arrow-right-to-bracket"></i>
        </li>
        <li>
          <a href="#" >Mis compras</a>
          <i class="fa-solid fa-basket-shopping"></i>
        </li>
      </ul>

      <!-- Boton Hamburguesa -->

      <button class="burger-menu" type="button" title="hamburguesa">
        <i class="fa-solid fa-bars"></i>
      </button>

    </nav>

    
  </header>


  <section class="banner">
    <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
  </section>

  <main class="login">
    <form action="/" method="POST">
      <input type="text" name="user" placeholder="Nombre de usuario" required>
      <input type="password" name="pass" placeholder="Elegí tu contraseña" required>
      <input type="submit" value="Enviar">
    </form>
  </main>
  <footer>

  </footer>

    <!-- Scripts -->
    <script src="https://kit.fontawesome.com/30f2e17de6.js" crossorigin="anonymous"></script>

</body>

</html>